<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="profileForm" editable="false">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <input type="text" name="id" class="form-control" #id placeholder="id" formControlName="id" readonly>
      </div>
     <div class="form-group">
       <input type="text" class="form-control" name="name" #name placeholder="Name" formControlName="name" >
     </div>
     <div class="form-group">
       <input type="text" name="phone" class="form-control" #phone placeholder="Phone" formControlName="phone">
     </div>
     <div class="form-group">
       <input type="text" name="email" class="form-control" #email placeholder="email" formControlName="email" readonly>
     </div>
     <div class="form-group">
       <select class="form-control" name="address" formControlName="location" #location >
         <option value="0">-Select-</option>
         <option  value="address1">Address 1</option>
         <option value="address2">Address 2</option>
         <option value="address3">Address 3</option>
       </select>
     </div>
     <div class="form-group">
       <input type="text" name="picture" placeholder="Profile picture" formControlName="picture" #picture class="form-control" >
     </div>
     <div class="form-group text-center">
       <button type="button" class="btn btn-primary" name="button" (click)="completeProfile(id.value,name.value,phone.value,email.value,location.value,picture.value)" matStepperNext>Complete profile</button>
     </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="skillForm" editable="false">
    <div class="row" id="add-section">
      <button type="button" class="btn btn-primary" *ngIf="skillForm.get('skills').length<5" name="button" (click)="addskillFeild()">Add Skill</button>
    </div>
    <form [formGroup]="skillForm">
    <div class="row" formArrayName="skills" *ngFor="let skill of skillForm.get('skills').controls;let i=index">
      <div class="col-8"  [formGroupName]="i">
         <div class="row">
        <div class="col-6">
        <div class="form-group">
          <select class="form-control" formControlName="skills" name="skills" #skills placeholder="select skill">

            <option *ngFor="let data of subcategory?.subcategories" value="{{data.id}}">{{data.Name}}</option>
          </select>
        </div>
        </div>
        <div class="col-2" *ngIf="skillForm.get('skills').length>1">
          <button type="button" class="btn btn-danger" name="button" (click)="deleteSkill(i)"><i class="fas fa-times "></i></button>
        </div>
      </div>
    </div>
    </div>
    <div class="form-group text-center">
      <button type="button" class="btn btn-primary" name="button" (click)="addingSkill()" matStepperNext>Done</button>
    </div>
      </form>
  </mat-step>
    <mat-step editable="false">
    <h3>Profile completed ! we will get back to you soon</h3>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <button type="button" class="btn btn-primary" name="button">Home</button>
    </div>
    </mat-step>
  </mat-horizontal-stepper>
