<div class="main-body">

    <button type="button" class="btn btn-primary" name="button" style="float:right;">
     <i class="fas fa-times "></i>
     </button>
  <div class="form-body">
    <form [formGroup]="updateSkill">
      <div class="form-group">
        <input type="text" class="form-control" name="id" #id formControlName="id" readonly>
      </div>
      <div class="form-group">
        <select class="form-control" name="skill" formControlName="skill" #skill>
            <option value="0">-Select-</option>
          <option *ngFor="let data of skills?.subcategories" value="{{data.id}}">{{data.Name}}</option>
        </select>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary" name="button" (click)="updateuserSkill(id.value,skill.value)">Update skill</button>
      </div>
    </form>
  </div>
</div>
