.main-body
{
  margin-top: 30vh;
}
h3
{
  text-align: center;;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#footer
{
  margin-top: 15vh;
}
.company-profile li
{
  style:none;

}
.company-profile ul
{
list-style-type: none;
padding-top: 4.5vh;
text-align: center;
}
#footer h4
{
  text-align:center;
  padding-bottom:0.5vh;

}
.social-media ul
{
  margin-left: 27vh;
}
.social-media li
{
  margin-right: 2vh;
}
