<div class="main-body">
  <div class="row">
    <div class="col-md-4 col-sm-0 col-xs-0">

    </div>
    <div class="col-md-4 col-sm-0 col-xs-0">
        <h3>Amberlit</h3>
      <form [formGroup]="loginForm">
        <div class="form-group text-center">
          <input type="text" name="email" class="form-control" #email placeholder="Email" formControlName="email" required email>
        </div>
        <div class="form-group text-center">
          <input type="password" name="password" class="form-control" #password placeholder="Password" formControlName="password" required>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" name="button" (click)="loginUser(email.value,password.value)">Login</button>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-sm-0 col-xs-0">

    </div>
  </div>
</div>

<footer id="footer">
<hr/>
<div class="row">
  <div class="col-md-4 col-sm-12 col-xs-12">
     <div class="company-profile">


    <ul>
      <li>Terms & conditions</li>
      <li>Privacy policy</li>
      <li>About the company</li>
    </ul>

    </div>

  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">

  </div>
  <div class="col-md-4 col-xs-12 col-sm-12 text-center">
    <h4>Follow Us</h4>
    <div class="social-media">
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item "><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li class="list-group-item "><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li class="list-group-item "><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li class="list-group-item"><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
