<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Amberlit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
       <li class="nav-item">
         <a class="nav-link" routerLink="/profile">Profile</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" (click)="logout()">Logout</a>
       </li>
      </ul>
  </div>
</nav>
<div class="main-body">
  <div class="user-details">
   <div class="container">

     <div class="card">
        <div class="user-section">
       <div class="row">
         <div class="col-md-3 col-sm-12 col-xs-12 text-center">
           <img [src]="profile?.user.Picture" alt="Profile-picture">
            <button type="button" class="btn btn-primary" name="button">Change</button>
         </div>
         <div class="col-md-9 col-sm-12 col-xs-12">
            <h3>Name:- {{profile?.user.Name}}</h3>
            <h4>Phone:-{{profile?.user.Phone}}</h4>
            <p class="lead"><strong>Location:-{{profile?.user.Location}}</strong></p>
            <button type="button"class="btn btn-primary" name="button" (click)="editUser(profile?.user.id)"><i class="fas fa-pencil-alt"></i> Edit</button>
         </div>
       </div>
     </div>
   </div>
      </div>
  </div>
  <div class="skill-details">
    <div class="container">
     <div class="card">
       <div class="card-header">
         <h4>User Skills</h4>
       </div>
       <div class="card-body">
         <ul class="list-group"  *ngFor="let data of skills?.result">
           <li class="list-group-item d-flex  ">
             <div class="mr-auto p-2">{{data.Name}} &nbsp; </div>
              <div class="p-2"><button type="button" class="btn btn-primary " name="button" (click)="editSkill(data.id)"><i class="fas fa-pencil-alt"></i></button> &nbsp;<button type="button" class="btn btn-danger " name="button" (click)="deleteuserSkill(data.id)"><i class="fas fa-times "></i></button>
               </div>
            </li>
         </ul>
         <div class="skill-add">
           <button type="button" class="btn btn-primary" name="button">Add skill</button>
         </div>
       </div>
     </div>
  </div>
  </div>
</div>
